<!DOCTYPE html>
<html lang="en">
<head>
  <title>WebSell</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/animate.min.css" rel="stylesheet"> 
  <link href="/assets/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/lightbox.css" rel="stylesheet">
  <link href="/assets/main.css" rel="stylesheet">
  <link id="css-preset" href="assets/presets/preset1.css" rel="stylesheet">
  <link href="assets/responsive.css" rel="stylesheet">
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="favicon.ico">

</head>
<body>
<!--wrapper start-->
<div class="wrapper" id="wrapper">
<% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
  <div class="chien">chen</div>
  <%= yield %>
  <!--header-->

</body>
</html>